*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lalezar", system-ui;
  font-weight: 400;
  font-style: normal;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-light-yellow {
  background-color: #FFFEE0;
}

.bg-yellow {
  background-color: #fcde9c;
}

.bg-orange {
  background-color: #ffa552;
}

.bg-red {
  background-color: #ba5624;
}

.bg-purple {
  background-color: #381d2a;
}

.bg-green {
  background-color: #c4d680;
}

.text-light-yellow {
  color: #FFFEE0;
}

.text-yellow {
  color: #fcde9c;
}

.text-orange {
  color: #ffa552;
}

.text-red {
  color: #ba5624;
}

.text-purple {
  color: #381d2a;
}

.text-green {
  color: #c4d680;
}